#app {
	margin-top: 100px;
}

.recipe-container {
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 100px;
}

ul {
	margin-bottom: 50px;
}

li {
	cursor: pointer;
	list-style-type: none;
	height: 50px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	padding-left: 50px;
	background-color: #2c4250;
	position: relative;
	font-family: $font1;
	font-size: 20px;
	color: white;
}

li:nth-child(odd) {
	background-color: #6a7a83;
}

li input {
	margin: 0 20px;
}
li.strike {
	text-decoration: line-through;
}

.right {
	position: absolute;
	right: 50px;
}

.delete {
	cursor: pointer;
	position: absolute;
	right: 20px;
}

.browse {
	font-family: $font1;
	font-size: 40px;
	color: #2c4250;
	margin-top: 150px;
	margin-bottom: 50px;
	margin-left: 100px;
}
.alpha {
	min-height: 50px;
	margin-bottom: 100px;
	padding-left: 100px;
	background-color: #db8a0a;
	font-family: $font1;
	font-size: 40px;
	color: white;
}

button {
	width: 300px;
	height: 100px;
	border-radius: 10px;
	background-color: #2c4250;
	margin-bottom: 50px;
	font-family: $font1;
	font-size: 30px;
	color: white;
}

.back {
	width: 100px;
	height: 40px;
}
.add {
	width: 100px;
	height: 40px;
	margin-top: 30px;
}

#addItem {
	width: 300px;
	height: 50px;
	margin-right: 20px;
	border: 3px #2c4250 solid;
	border-radius: 10px;
}

@media screen and (max-width: 960px) {
	.recipe-container {
		width: 600px;
		margin: 0 auto;
	}
	.browse {
		margin-left: 30px;
	}
	ul {
		width: 800px;
		margin-left: 30px;
		margin-right: 30px;

		li {
			width: 600px;
		}
	}
}

@media screen and (max-width: 600px) {
	ul {
		margin: 0 auto;
		li {
			width: 300px;
		}
	}
	.recipe-container {
		width: 300px;
		margin-left: 30px;
		margin: 0 auto;
		margin-bottom: 100px;
	}
}
