.browse {
	font-family: $font1;
	font-size: 40px;
	color: #2c4250;
	margin-top: 150px;
	margin-bottom: 50px;
	margin-left: 100px;
}
.alpha {
	min-height: 50px;
	margin-bottom: 100px;
	padding-left: 100px;
	background-color: #db8a0a;
	font-family: $font1;
	font-size: 40px;
	color: white;
}
